$charade: rgb(13,13,14); // Charade
$outer-space: rgb(31,40,44); // Outer Space
$oslo-gray: rgb(144,150,154); // Oslo Gray
$loblolly: rgb(190,200,206); // Loblolly
$iron: rgb(218,223,226); // Iron
$white: rgb(255,255,255); // White
$apricot: rgb(244,162,126); // Apricot
$apricot-peach: rgb(249,194,157); // Apricot Peach
$corvette: rgb(252,212,164); // Corvette
$colonial-white: rgb(255,230,171); // Colonial White
$daintree: rgb(0,49,65); // Daintree
$nepal: rgb(121,159,181); // Nepal
$polo-blue: rgb(123,167,198); // Polo Blue
$danube: rgb(125,180,218); // Danube
$loblolly: rgb(172,187,194); // Loblolly
$spindle: rgb(163,200,226); // Spindle
$geyser: rgb(208,223,227); // Geyser
$gallery: rgb(234,234,234); // Gallery
$cyprus: rgb(0,63,64); // Cyprus
$gulf-stream: rgb(116,168,165); // Gulf Stream
$summer-green: rgb(126,168,150); // Summer Green
$summer-green: rgb(148,189,173); // Summer Green
$jet-stream: rgb(185,216,207); // Jet Stream
$jagged-ice: rgb(212,235,234); // Jagged Ice
$falcon: rgb(116,94,104); // Falcon
$thatch: rgb(192,175,171); // Thatch
$silver-rust: rgb(201,189,185); // Silver Rust
$silver-rust: rgb(222,214,209); // Silver Rust
$spring-wood: rgb(245,241,232); // Spring Wood
$wine-berry: rgb(83,22,36); // Wine Berry
$solid-pink: rgb(134,75,87); // Solid Pink
$turkish-rose: rgb(172,117,122); // Turkish Rose
$brandy-rose: rgb(194,143,139); // Brandy Rose
$vista-white: rgb(243,221,219); // Vista White
$blush: rgb(196,95,119); // Blush
$puce: rgb(207,121,133); // Puce
$sea-pink: rgb(223,128,136); // Sea Pink
$careys-pink: rgb(208,165,171); // Careys Pink
$soft-peach: rgb(232,219,222); // Soft Peach