@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-roboto;
  background: $iron;
}

#root{
  display: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
  border:0;
}

input {
  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}



