@import "/src/styles/colors";

.contentContainer {
  form {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.home {
  background: $apricot;
}
